<div class="ui two column vcentered grid">
  <div class="three column centered row">
    <div class="column">
      <div class='card'>
        <a href='/accomodation_search'>
          <div class='image'><%= image_tag 'houses.png' %></div>
          <div class='content'>
            <div class='description'>find accomodation</div>
          </div>
        </a>
      </div>
    </div>

    <div class="column">
      <div class='card' onclick='tenants/'>
        <div class='image'><%= image_tag 'users.png' %></div>
        <div class='content'>
          <div class='description'>find tenants</div>
        </div>
      </div>
    </div>
  </div>
</div>
