/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require semantic-ui
 *= require_self
 */

@import "semantic-ui";

body {
  background-color: rgb(240, 240, 240);;
}

input {
  border-bottom: 1px solid #1E9EC9!important;
}

.left-borded-label {
  border-left: 2px solid #1E9EC9;
  padding-left: 5px;
}

.bordered-bottom {
  border-bottom: 2px solid #1E9EC9;
}

.menu {
  // background-color: black!important;
}

.colored {
  color: #1E9EC9;
}

.leftpad {
  padding-left: 5px;
  margin-left: 5px;
}

.card {
  img {
    width: 60%;
    height: 220px;
  }

  padding: 10px;
  width: 100%;
  background: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

.margintop {
  margin-top: 10px;
}

.vcentered {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.vhcentered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stretched {
  margin: 5px 10px 5px 10px;
}
